@mixin gridPlayout($column, $space) {
  --number-columns: #{$column};
  --space: #{$space};
  display: flex;
  flex-wrap: wrap;
  row-gap: $space;
  margin-left: calc(-1 * $space);

  > * {
    width: calc((100% / $column) - $space);
    margin-left: $space;
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
  .header {
    .header-logo__menu {
      display: none;
    }
  }
  .overplay-mobile,
  .atmos-label,
  .special-label {
    display: none;
  }
  .client-social {
    &__item:nth-child(4),
    &__item:last-child {
      padding-left: 15px;
    }
  }
}

// Tablet and Mobile
@media screen and (max-width: 991.98px) {
  .hero {
    .row {
      flex-direction: column-reverse;
    }
  }
  .client {
    padding: 120px 0 120px;
    height: 595px;
    &-inner {
      flex-direction: column;
      align-items: center;
    }
    &-heading {
      margin-bottom: 40px;
      margin-left: 0;
      text-align: center;
      &::before {
        width: 48px;
        height: 2px;
        left: 100px;
        top: -5px;
      }
    }
    &-social {
      @include gridPlayout(2, 36px);
      width: 100%;
    }
  }
  .ask {
    &-inner {
      width: 100%;
      &__group {
        .item__line {
          width: 100%;
        }
      }
    }
  }
  .footer {
    &-line {
      width: 100%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .header {
    padding: 20px 0;
    .header-logo__menu,
    .header-icon {
      display: none;
    }
  }
  .overplay-mobile {
    display: none;
  }
  .hero {
    &-text {
      margin-top: 50px;
      &__heading {
        text-align: center;
        font-size: 7rem;
      }
      &__desc {
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
      &__btn {
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .hero__btn {
          width: 200px;
        }
        .hero__link {
          display: block;
          margin-left: 0;
          padding: 10px 0;
        }
      }
      &__social {
        justify-content: center;
        margin-top: 50px;
      }
    }
    &-bg {
      display: none;
    }
    &-photo {
      &__bg {
        left: -120px;
      }
      &__people {
        left: 85px;
      }
    }
  }
  .client {
    padding: 100px 0;
    height: 450px;
    &-social {
      @include gridPlayout(4, 20px);
      &__item:nth-child(4),
      &__item:last-child {
        padding-left: 20px;
      }
    }
  }
  .special {
    &-body {
      &__item {
        background-color: rgb(239 235 255);
        margin-top: 20px;
      }
    }
  }
  .project {
    height: auto;
    padding-bottom: 50px;
    &-top {
      display: inline;
      &__desc {
        width: auto;
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
  .designer {
    &-top__number {
      width: 100%;
    }
  }
  .people {
    height: auto;
    padding-bottom: 20px;
    &-inner {
      &__heading {
        padding-top: 100px;
      }
    }
  }
  .atmos {
    .atmos-pic {
      padding-top: 10px;
    }
  }
  .book {
    padding-top: 50px;
  }
  .header:nth-last-of-type(1) {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 767.98px) {
  .header {
    &-inner {
      flex-direction: row-reverse;
      padding: 20px 0 10px;
      border-bottom: 1px solid #d6d3e2;
    }
    &-logo {
      justify-content: flex-end;
    }
    .header-logo__link,
    .header-navbar {
      display: none;
    }
    .header-logo__icon,
    .header-logo__menu {
      width: 32px;
      height: 32px;
    }
    .header-icon {
      width: 37px;
      height: 44px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .hero {
    overflow-y: initial;
    &-text {
      margin-top: 50px;
      &__heading {
        width: 260px;
        font-size: 4.2rem;
        line-height: 1.19;
        letter-spacing: -0.168rem;
      }
      &__desc {
        width: min(318px, 100%);
        font-size: 1.6rem;
        margin-bottom: 30px;
      }
      &__social {
        margin-top: 25px;
      }
    }
    &__btn {
      padding: 12px 31px 12px 31px;
      font-size: 1.6rem;
    }
    &-photo {
      height: 400px;
      &__bg {
        left: 0px;
        height: 402px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &__people {
        top: 0;
        left: 50px;
        width: 259px;
        height: 355px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-bg {
      display: none;
    }
  }
  .special {
    &-top__heading {
      font-size: 3.6rem;
    }
    &-top__desc {
      width: min(350px, 100%);
      font-size: 1.6rem;
    }
    &-scroll {
      width: 100%;
      flex-wrap: nowrap;
      overflow-x: hidden;
    }
    &-body {
      margin-top: 50px;
      .col {
        transition: 0.5s linear;
        width: 100%;
        height: 280px;
        .special-body__item {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-label {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #d6d3e2;
      border-radius: 50%;
      margin-left: 40%;
      transform: translateX(-50%);
      margin-top: 40px;
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        outline: 1px solid blue;
        outline-offset: 3px;
        visibility: hidden;
      }
    }
    .special-label + .special-label {
      margin-left: 20px;
    }

    $array: (
      1: 0,
      2: -100%,
      3: -200%,
    );

    @each $number, $translate in $array {
      @for $i from 1 through 3 {
        input:nth-of-type(#{$number}):checked
          ~ .special-scroll
          .col:nth-child(#{$i}) {
          transform: translateX($translate);
        }
      }
    }

    @for $i from 1 through 3 {
      input:nth-of-type(#{$i}):checked ~ .special-label:nth-of-type(#{$i}) {
        background-color: blue;
      }
      input:nth-of-type(#{$i}):checked
        ~ .special-label:nth-of-type(#{$i})::after {
        visibility: visible;
      }
    }
  }
  .project {
    height: 1217px;
    &-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      &__heading {
        width: min(300px, 100%);
        font-size: 3.6rem;
        line-height: 1.17;
        margin-top: 69px;
        padding-bottom: 20px;
      }
      &__desc {
        width: min(370px, 100%);
        margin: 0;
      }
    }
    &-body {
      margin: 50px 0 60px;
      &__item {
        display: flex;
        align-items: center;
        padding: 20px 15px;
        .item-text__title {
          font-size: 2.4rem;
          line-height: 1.41;
          margin-top: 0;
        }
        .item-text__desc {
          width: 176px;
          font-size: 1.4rem;
          line-height: 1.42;
          margin: 0;
        }
        .item-photo {
          width: 122px;
          height: 93px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .designer {
    height: auto;
    padding-top: 120px;
    &-top {
      &__hey {
        span {
          font-size: 2rem;
          line-height: 2;
        }
      }
      &__heading {
        font-size: 3.6rem;
        margin: 10px 0 20px;
      }
      &__desc {
        width: min(350px, 100%);
        font-size: 1.6rem;
      }
      &__number {
        width: min(350px, 100%);
        margin-top: 50px;
        margin-bottom: 40px;
        .designer__number__item {
          padding: 30px 0 30px;
          span {
            font-size: 3rem;
            line-height: 1.4;
            letter-spacing: 0.09rem;
          }
          p {
            text-align: left;
            width: 74px;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.38;
          }
        }
      }
    }
    &-body {
      margin-top: 0;
    }
  }
  .people {
    overflow: initial;
    height: auto;
    &-inner {
      padding-bottom: 70px;
      &__heading {
        padding-top: 120px;
        font-size: 3.6rem;
        letter-spacing: -0.144rem;
      }
      &__desc {
        width: min(350px, 100%);
        font-size: 1.6rem;
        padding: 20px 0 40px;
      }
      &__quotes {
        width: min(350px, 100%);
        font-size: 1.8rem;
      }
      &__avarta {
        padding-top: 48px;
        span {
          font-size: 2.4rem;
        }
      }
    }
  }
  .ask {
    &-inner {
      margin-left: 50%;
      transform: translateX(-50%);
      &__heading {
        width: min(316px, 100%);
        font-size: 3.6rem;
        letter-spacing: -0.144rem;
      }
      &__group {
        width: 100%;
        margin-top: 40px;
        .ask-inner__item {
          width: max(370px, 100%);
        }
        .item__heading {
          width: 265px;
          font-size: 2.4rem;
          letter-spacing: -0.096rem;
        }
        .item__desc {
          width: 316px;
          height: auto;
          font-size: 1.6rem;
          padding: 15px 0 15px;
        }
        .item__line {
          transform: translateY(-95px);
        }
        .ask-inner__action {
          width: 33px;
          height: 33px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    @for $i from 1 through 5 {
      input:nth-of-type(#{$i}):checked
        ~ .ask-inner__group:nth-of-type(#{$i})
        .item__line {
        background-color: #5d3bee;
        transform: translateY(0px);
      }
    }
  }
  .atmos {
    padding-top: 120px;
    &-heading {
      font-size: 3.6rem;
      letter-spacing: -0.144rem;
    }
    &-desc {
      width: min(350px, 100%);
      font-size: 1.6rem;
      padding: 20px 0 10px;
    }
    &-link {
      font-size: 2rem;
      line-height: 2;
      margin-bottom: 60px;
    }
    &-mobile {
      flex-wrap: nowrap;
      overflow: hidden;
      margin-left: 50%;
      transform: translateX(-50%);
      width: 352px;
      height: 503px;
      .atmos-pic {
        width: 352px;
        height: 503px;
        transition: 0.5s linear;
        figure {
          height: 100%;
          img {
            object-fit: cover;
          }
        }
      }
    }
    .atmos-label {
      margin-top: 40px;
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #d6d3e2;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        outline: 1px solid blue;
        outline-offset: 3px;
        visibility: hidden;
      }
    }
    .atmos-label + .atmos-label {
      margin-left: 20px;
    }

    $array2: (
      1: 0,
      2: -100%,
      3: -200%,
    );

    @each $number2, $pecent in $array2 {
      @for $i from 1 through 3 {
        input:nth-of-type(#{$number2}):checked
          ~ .atmos-mobile
          .atmos-pic:nth-child(#{$i}) {
          transform: translateX(#{$pecent});
        }
      }
    }

    @for $i from 1 through 3 {
      input:nth-of-type(#{$i}):checked ~ .atmos-label:nth-of-type(#{$i}) {
        background-color: blue;
      }
      input:nth-of-type(#{$i}):checked
        ~ .atmos-label:nth-of-type(#{$i})::after {
        visibility: visible;
      }
    }
  }
  .book {
    &-inner {
      img {
        width: 48px;
        height: 48px;
      }
      &__heading {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 225px;
        font-size: 3.6rem;
        padding: 10px 0 10px;
      }
      &__desc {
        width: min(350px, 100%);
        font-size: 1.6rem;
      }
      &__btn {
        line-height: 1.8;
        padding: 12px 31px;
      }
    }
  }

  .header:nth-last-child(2) {
    .header-inner {
      flex-direction: column;
      align-items: center;
      border-bottom: none;
      .header-icon {
        order: 1;
      }
      .header-navbar {
        order: 2;
      }
      .header-logo {
        order: 3;
        .header-logo__link {
          display: block;
        }
        .header-logo__menu {
          display: none;
        }
      }
    }
    .header-navbar {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 58px;
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-text {
      order: 1;
      padding-top: 64px;
    }
    .footer-line {
      order: 2;
    }
    .footer-copyright {
      padding-right: 0;
      order: 3;
      padding: 20px 0 30px;
    }
  }
}
