/*========= Styles ==========*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "DM Sans";
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}
/*========= Comon =========*/
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  width: 170px;
  height: 62px;
  background: #5d3bee;
  padding: 16px 37px;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.67;
}
.btn:hover {
  cursor: pointer;
}

/*=========== Mixin ============*/
@mixin flexCenter($h: center, $w: center) {
  display: flex;
  align-items: $h;
  justify-content: $w;
}
@mixin gridPlayout($column, $space) {
  --number-columns: #{$column};
  --space: #{$space};
  display: flex;
  flex-wrap: wrap;
  row-gap: $space;
  margin-left: calc(-1 * $space);

  > * {
    width: calc((100% / $column) - $space);
    margin-left: $space;
  }
}

/*============== header =============*/
.container-custom {
  max-width: 1330px;
}

.header {
  &-inner {
    @include flexCenter($w: space-between);
  }
  &-logo {
    @include flexCenter($w: null);
    width: 258px;
    height: 46px;
    column-gap: 10px;
    &__icon {
      @include flexCenter();
      width: 46px;
      height: 46px;
      border: 1px solid #5d3bee;
      border-radius: 50%;
    }
    &__link {
      color: #080415;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.36;
      text-decoration-line: underline;
    }
  }
  &-navbar {
    &__item {
      position: relative;
      color: #51586a;
      font-size: 1.8rem;
      font-weight: 400;
      padding: 8px 0;
      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #5d3bee;
        transition: all 0.5s linear;
        transform: scaleX(0);
        transform-origin: center;
      }
    }
    &__item:not(:first-child) {
      margin-left: 43px;
    }
  }
}

.hero {
  position: relative;
  overflow-y: hidden;
  &-bg {
    position: absolute;
    right: 0;
    bottom: -110px;
    transform-origin: 100% 100%;
    transform: scale(0.4);
  }
  &-photo {
    position: relative;
    height: 788px;
  }
  &-photo__bg {
    position: absolute;
    left: -210px;
    bottom: 0;
  }
  &-photo__people {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 44px;
    z-index: 2;
  }
  &-text {
    margin-top: 181px;
    &__heading {
      color: #080415;
      font-size: 8rem;
      font-weight: 500;
      line-height: 0.95;
      letter-spacing: -0.32rem;
    }
    &__desc {
      width: 370px;
      color: #51586a;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.67;
      margin: 20px 0 50px;
    }
    &__btn {
      @include flexCenter(center, null);
      .hero__link {
        color: #080415;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.67;
        text-decoration-line: underline;
        margin-left: 30px;
      }
    }
    &__social {
      @include flexCenter(center, null);
      column-gap: 20px;
      margin-top: 104px;
      span {
        color: #51586a;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.86;
      }
      a {
        width: 40px;
        height: 40px;
        border: 1px solid #51586a;
        border-radius: 99px;
        @include flexCenter();
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.client {
  padding: 98px 0 133px;
  &-inner {
    height: 113px;
    display: flex;
  }
  &-heading {
    position: relative;
    width: 253px;
    height: 100px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    white-space: 1.1px;
    margin-left: 100px;
    &:before {
      content: "";
      position: absolute;
      left: -100px;
      top: 20px;
      width: 86px;
      height: 1px;
      background-color: #5d3bee;
    }
  }
  &-social {
    @include gridPlayout(4, 1px);
    width: 713px;
    margin-left: auto;
    &__item {
      @include flexCenter($w: null);
      img {
        width: 40px;
        height: 40px;
      }
      span {
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 10px;
        color: #080415;
      }
    }
  }
}

.special {
  padding-bottom: 140px;
  &-top {
    text-align: center;
    &__heading {
      color: #080415;
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: -0.224rem;
    }
    &__desc {
      display: inline-block;
      width: 534px;
      color: #51586a;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.67;
      padding-top: 20px;
    }
  }
  &-body {
    margin-top: 60px;
    &__item {
      height: 306px;
      background-color: #fbfaff;
      padding: 33px 42px 34px 43px;
      figure {
        width: 74px;
        height: 74px;
        border: 1px solid #737276;
        border-radius: 99px;
        @include flexCenter();
        img {
          margin-top: 15px;
          margin-left: 0;
        }
      }
      .special__item__title {
        color: #080415;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.128rem;
        margin: 22px 0 15px;
      }
      .special__item__desc {
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
      }
    }
  }
}

.project {
  background-color: #5d3bee;
  height: 1014px;
  &-top {
    display: flex;
    &__heading {
      color: #fff;
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: 0.1px;
      width: 468px;
      margin-top: 86px;
    }
    &__desc {
      width: 370px;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.67;
      margin-top: 117px;
      margin-left: 160px;
    }
  }
  &-body {
    margin-top: 70px;
    margin-bottom: 80px;
    &__item {
      position: relative;
      background-color: #fbfaff;
      display: flex;
      padding: 24px 23px 23px 34px;
      background-image: url("/assets/img/project-photo.png");
      background-position: 180px 0px;
      background-repeat: no-repeat;
    }
    .item-photo {
      margin-left: auto;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }
    .item-text__title {
      color: #080415;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.25;
      margin-top: 20px;
    }
    .item-text__desc {
      width: 220px;
      color: #51586a;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.43;
      margin: 10px 0 20px;
    }
    .item-text__link {
      color: #080415;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.67;
      text-decoration-line: underline;
    }
  }
  &-btn {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
  }
}

.designer {
  height: 992px;
  padding-top: 140px;
  &-top {
    text-align: center;
    &__hey {
      @include flexCenter();
      column-gap: 9px;
      span {
        color: #5d3bee;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.128rem;
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
    &__heading {
      color: #080415;
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: -0.224rem;
      margin: 10px 0 15px;
    }
    &__desc {
      display: inline-block;
      width: 570px;
      color: #51586a;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.67;
    }
    &__number {
      margin-top: 70px;
      margin-left: 50%;
      transform: translateX(-50%);
      @include flexCenter($w: space-around);
      width: 946px;
      height: 146px;
      padding: 20px 0;
      border-top: 1px solid #080415;
      border-bottom: 1px solid #080415;
      .designer__number__item {
        span {
          color: #080415;
          font-size: 5.6rem;
          font-weight: 500;
          line-height: 1.36;
          letter-spacing: 0.168rem;
          text-decoration-line: underline;
        }
        p {
          color: #51586a;
          font-size: 1.8rem;
          line-height: 1.67;
        }
      }
    }
  }
  &-body {
    margin-top: 70px;
    width: 100%;
    height: 628px;
    @include flexCenter();
    video {
      width: 100%;
      height: 100%;
    }
  }
}

.people {
  height: 1035px;
  background-color: #fbfaff;
  overflow: hidden;
  &-inner {
    text-align: center;
    &__heading {
      color: #080415;
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: -0.224rem;
      padding-top: 473px;
    }
    &__desc {
      display: inline-block;
      width: 570px;
      color: #51586a;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.67;
      padding: 20px 0 60px;
    }
    &__quotes {
      margin-left: 50%;
      transform: translateX(-50%);
      width: 680px;
      color: #51586a;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.67;
    }
    &__avarta {
      @include flexCenter();
      column-gap: 16px;
      padding-top: 38px;
      figure {
        width: 40px;
        height: 40px;
        border-radius: 99px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        color: #080415;
        font-size: 3rem;
        font-weight: 500;
      }
    }
    &__special {
      color: #51586a;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.81;
    }
    &__slider {
      padding-top: 40px;
      margin-left: 50%;
      transform: translateX(-50%);
      @include flexCenter($w: space-between);
      width: 144px;
      height: 20px;
      label {
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #cac9d0;
      }
      label::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        outline: 1px solid #5d3bee;
        outline-offset: 3px;
        visibility: hidden;
      }
      @for $i from 1 through 5 {
        input:nth-of-type(#{$i}):checked:checked ~ label:nth-of-type(#{$i}) {
          background-color: #5d3bee;
        }
        input:nth-of-type(#{$i}):checked:checked
          ~ label:nth-of-type(#{$i})::after {
          visibility: visible;
        }
      }
    }
  }
}

.ask {
  &-inner {
    width: 1010px;
    &__heading {
      color: #080415;
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: -0.224rem;
      padding-top: 95px;
    }
    &__group {
      margin-top: 80px;
      display: flex;
      .item__heading {
        color: #080415;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.128rem;
        transition: 0.5s linear;
      }
      .item__desc {
        width: 487px;
        height: 57px;
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        padding-top: 23px;
        visibility: hidden;
        opacity: 0;
        transform-origin: top;
        transform: scaleY(0.4);
        transition: 0.5s linear;
      }
      .item__line {
        width: 1010px;
        height: 2px;
        background-color: #08182f;
        transform: translateY(-30px);
        transition: 0.5s linear;
      }
      .ask-inner__action {
        display: flex;
        transform: translateX(-50px);
        position: relative;
        height: 50px;
        figure:last-child {
          position: absolute;
          top: 0;
          left: 0;
          visibility: hidden;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@for $i from 1 through 5 {
  input:nth-of-type(#{$i}):checked
    ~ .ask-inner__group:nth-of-type(#{$i})
    .item__heading {
    color: #5d3bee;
  }
  input:nth-of-type(#{$i}):checked
    ~ .ask-inner__group:nth-of-type(#{$i})
    .item__line {
    background-color: #5d3bee;
    transform: translateY(30px);
  }
  input:nth-of-type(#{$i}):checked
    ~ .ask-inner__group:nth-of-type(#{$i})
    .item__desc {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }
  input:nth-of-type(#{$i}):checked
    ~ .ask-inner__group:nth-of-type(#{$i})
    figure:last-child {
    visibility: visible;
  }
  input:nth-of-type(#{$i}):checked
    ~ .ask-inner__group:nth-of-type(#{$i})
    figure:first-child {
    visibility: hidden;
    opacity: 0;
  }
}

.atmos {
  padding-top: 160px;
  text-align: center;
  &-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.224rem;
  }
  &-desc {
    display: inline-block;
    width: 528px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    padding: 20px 0 30px;
  }
  &-link {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
    text-decoration-line: underline;
    margin-bottom: 70px;
  }
  &-photo {
    display: inline-block;
    height: 529px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.book {
  padding-top: 140px;
  padding-bottom: 50px;
  text-align: center;
  &-inner {
    width: 100%;
    height: 488px;
    background-image: url(/assets/img/book-bg.png);
    background-size: cover;
    &__emoji {
      margin-top: 68px;
      width: 90px;
      height: 90px;
    }
    &__heading {
      color: #080415;
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.18;
      letter-spacing: -0.224rem;
      padding: 10px 0 15px;
    }
    &__desc {
      display: inline-block;
      width: 570px;
      color: #51586a;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.67;
    }
    &__btn {
      display: block;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
    }
  }
}

.footer {
  width: 100vw;
  @include flexCenter($w: null);
  flex-direction: column;
  &-line {
    display: block;
    width: 1429px;
    height: 1px;
    background-color: #0c0720;
  }
  &-text {
    padding: 18px 0 30px;
    display: flex;
    &__copyright {
      padding-right: 515px;
    }
    &__policy {
      padding: 0 20px;
    }
    &__terms {
      padding: 0 20px;
      border-left: 1px solid #999;
    }
  }
}
